* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.header, .instructions {
    font-family: Arial, Helvetica, sans-serif;
    color: #CB4154;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.instructions {
    color: #999;
    margin-left: 12px;
}